.tableBody {
  tr {
    text-align: left;
  }

  &__img {
    background: #fff;
    border: 3px solid #ddf5fb;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}