@import "./helper/variables";
@import "~bootstrap/scss/bootstrap";

:root {
  --bs-table-striped-bg: red !important;
}

// Simple reset
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}
*::-webkit-scrollbar {
  display: none;
}

// Utilities

.mb-4 {
  margin-bottom: 40px;
}