// simple reset
.wrapper {
  padding: 0 56px;
  display: flex;
  flex-direction: column;
}

.app {
  background: #ddf5fb;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  width: 1200px;
  max-width: 1200px;
  margin: 0 auto;
}
