.search {
    position: relative;
    display: flex;
    align-items: center;

    &__input {
        background: #fff;
        border: none;
        border-radius: 10px;
        padding: 10px 40px 10px 20px;
        width: 300px;
        outline: 0;
        font-size: 16px;
    }

    &__button {
        position: absolute;
        left: 270px;
        border: none;
        outline: none;
        background: transparent;
        padding: 10px 0;
    }

    &__icon {
        width: 20px;
        height: 20px;
        color: #aaa;
    }
}